body {
  /*background-color: white;*/
  background-image: "world_map.svg";
  color: black;
}

#UMich_Input {
    position: absolute;
    left: 15%;
    top: 5%;
}

#downloadlink{
    position: absolute;
    left: 15%;

}

#filename { 
    position: absolute;
    left: 0%;
    top: 0%;
}

#view_selection { 
    position: absolute;
    top: 5%;
}

#gen_view{
    position: absolute;
    top: 10%;
}


#main {
    position: absolute;
    left: 0px;
    top: 1000px;	
}

#tooltip {
    font-weight: bold;
    position: absolute;
    margin-top: 90px;
    margin-left: 15px;
    text-align: center;
    color: black;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    /*	font-size: 30px;*/
    line-height: 20px;
}